<body>
        <!--Buscador-->
        <div id="buscador">
            <div class="container">
    
                <div class="row height d-flex justify-content-center align-items-center">
    
                    <div class="col-md-8">
    
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Buscar restaurante" id="valorBuscado">
                            <button class="btn btn-primary" onclick="buscaArray()">Buscar</button>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
</body>